::-webkit-scrollbar {
    display: none;
}

html ,body{
    min-height: 100%;
}

body{
    margin:0px;
    background-color: #e0e8ff;
}



#outer-container{
    height:100vh;
    width:100vw;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#inner-container{
    height:60%;
    width:20%;
    background-color: white;
    border-radius: 3%;
}


#image-container{
   height:30%;
   width:100%;
   border-radius: 3%;
   background-image: url(images/illustration-hero.svg);
   background-position: center;
   background-size: cover;
}


#summary-conatiner{
    height:70%;
    width:100%;
    border-radius: 3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description{
    text-align: center;
    color: gray;
    margin-top: -20px;
}


#payment-button{
    background-color:#382ae1;
    border-radius: 5%;
    font-size: 15px;
    color:white;
    width:80%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:25px;
    font-weight: 600;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#cancel-order-button{ 
    margin-bottom: 20px;
    padding-top: 10px;
    color: gray;
}

#price-option{
   display:flex;
   flex-direction: row;
    align-items: flex-start;
    width:100%;
    height:40px;
    justify-content: space-around;
    padding-bottom: 30px;
}


#image-icon{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-image: url(images/icon-music.svg);
    background-position: center;
}

#plan-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#plan-container p{
    margin: 0;
}